grant codeBase "file:/java/runjava-isolated.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/mgmt/jolokia-agent.jar" {
        permission java.security.AllPermission;
};
